* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    background: #23424A;
    color: white;

    width: 80%;
    max-width: 55rem;
    margin: 2rem auto;
    
    padding: 2em;
}

.intro-content{
    padding-right: 50%;
}
